*{
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Catamran', sans-serif;
}

h2 {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Telex', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
}

/*---------- main---------- */

.whole{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 10rem;
    margin:auto;
    margin-top: 10%;
    padding-bottom: 5%;
    border-bottom: 1px black solid;
}

.main {
    margin: 130px 70px 70px 70px;
    width: 50%;
}

.main img {
    border-radius: 20px;
    border: 2px black solid;
    background-color: white;
}


.thumbnail img {
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}

/* --------side-------- */

.side{
    width: 40%;
    margin-top: 15%;
}

.side_para h1 {     
    color: black;
    font-size: 40px;
    margin-top: 10px;
}

.side_para .para {     
    line-height: 25px;
    width: 450px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    color:black;
    margin-top: 10px;
}

.price1 {    
    color:black;
    margin-top: 20px;
}

.price1 p {
    font-size: 30px;
    font-weight: bold;
}

.price1 p span{
    position:relative;
    bottom:5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 3px 10px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.price2 {
    margin-top: 10px;
    color:black;     
}

.buttons {
    margin-top: 20px;
    display: flex;
    color: black;
}

.amount button {
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
    border:2px solid black;
    border-radius: 30px;
    background-color: white;
    
}

.add button {   
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    border:2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;    
    transition: 0.2s;   
}

.add button:hover {
    color :black;
    background-color: white;

}

.spec {
    margin: 20px 0;
}



.spec-buttons {
    display: inline-flex;
    margin: 20px 0;   
}

.spec-buttons button {
    padding: 20px 30px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s;
    border-right: 1px white solid;
}

.spec-buttons button:hover {
    color:black;
    background-color: white;
}

.spec-buttons button:nth-of-type(1) {
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
    border: 2px black solid;
    border-right: 1px white solid;
}

.spec-buttons button:nth-of-type(2) {
    border: 2px black solid;
    border-right: 1px white solid;
    border-left: none;
}

.spec-buttons button:nth-of-type(3) {
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px;
    border: 2px black solid;
    border-left: none;
}

/* you may also like */

.suggest{
    margin-top: 5%;
    margin-bottom: 5%;
}

.like {     
    margin-left: 5%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 5rem;
    width: 80%;
    place-items: center;
    margin-left: 3rem;
}

.products a {
    text-decoration: none;
}

.product {
    margin-top: 50px;
    background-color: #EDD0C0;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
    color:#8e464e;
}

.product .buttons button:nth-child(1):hover {
    background-color:#EDD0C0;
}

.product .buttons button:nth-child(2) {
    border: none;
    transition: 0.1s;
    background-color: white;
    color:#8e464e;
}

.product .buttons button:nth-child(2):hover {
    background-color:#EDD0C0;
}

.product:hover {
    background-color:#C8626D;
    color:#EDD0C0; 
}



.product p {
    margin-top: 10px;     
    font-size: 20px;
}

.product .buttons {
    display: flex;
    justify-content: space-around;
}

.product .buttons button {
    padding: 15px 30px;
    border-radius: 30px;    
    font-size: 16px;
    font-weight: 700;
}

.product .buttons button:nth-child(1) {
    border: none;
    transition: 0.1s;
    background-color: white;
    color:#8e464e;
}

.product .buttons button:nth-child(1):hover {
    background-color:#EDD0C0;
}

.product .buttons button:nth-child(2) {
    border: none;
    transition: 0.1s;
    background-color: white;
    color:#8e464e;
}

.product .buttons button:nth-child(2):hover {
    background-color:#EDD0C0;
}

/* responsive */

@media only screen and (max-width:700px){

    .whole {
        width: 100%;
        gap: 3rem;
    }

    .main {
        padding-top: 20%;
    }

    .main_img img {
        width: 350px;
        margin-left: 1.2rem;
    }

    .main {
        margin: 0;
        width: 50%;
    }

    .side {
        margin-left: 2rem;
    }

    .side_para{
        width: 200%;
    }

    .side_para h1 {
        font-size:20px;
    }

    .side_para .para {
        max-width: 100%;
        margin: auto;
        font-size: 16px;
        height: 25vh;
    }

    .product {
        width: 50%;
        height: 70%;
        margin: 10% auto;

    }

    .products {
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    .product img {
        width: 50%;
        height: 50%;
        margin-left: 23%;
    }

    .product p {
        font-size: 16px;
    }

    .products h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .product .buttons button {
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 700;
    }

    .add button {
        padding:0 100px;
        line-height: normal;
    }

}

