* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Catamran', sans-serif;
}

h2 {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Telex', sans-serif;
}

th {
    font-family: 'Catamran', sans-serif;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

body {
    background-color: white;
}

header {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
}

caption{
    font-size: 25px;
    display: table-caption;
    text-align: center;
}

.th_price {
    width: 140px;
}

.table-container {
    display: flex;
    width: 100%;
}

.table_header {
    display: flex;
    justify-content: space-between;
}

.table_header select {
    position: relative;
    top: 16%;
    accent-color: black;
}

.sub-container {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 30px 0 0 20px;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.add {
    display: flex;
    justify-content:flex-end;
    margin-right: 1%;
    margin-bottom: 1%;
}

.add a {
    text-decoration:none;
}

.sub-container button{
    border: 1px black solid;
    padding: 5px 10px;
    background-color: white;
    border-radius: 3px;
}

.sub-container button:hover{
    border: 1px black solid;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 3px;
    transition: 0.5s;
}

/* td {
    text-align: center;
    padding: 50px;     
    font-size: 20px;
    border-bottom: 1px solid black;
    font-family: 'Telex', sans-serif;
} */

.buttons {
    margin: auto;
}


.del {
    /* background: none;
    border:none; */
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

/* responsive */

@media only screen and (max-width:700px) {

    .table-container{
        padding-top: 30%;
        height: 60vh;
    }

    caption {
        font-size: 16px;
    }

    td {
        font-size: 16px;
        padding: 10px;
    }

    .buttons {
        margin-left: 28%;
    }
}