/* footer */

footer{
    width: 100%;
    height: 50vh;
    border-top: 1px solid black;
    background-color:white;
}

h1 {
    font-family: 'Catamran', sans-serif;
}

h2 {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Telex', sans-serif;
}

.foot {
    width: 100%;
    height: 30vh; 
    display: flex;
    flex-direction: column;
}

.foot h2 {
    margin: auto;
    margin-top: 3%;
    font-size: 30px;
}

.list {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.list ul {
    list-style: none;
}

.list ul li {
    line-height: 40px;
}

.list ul li a {
    text-decoration: none;
    color: black;
}

.list  a {
    text-decoration: none;
    color: black;
}

.list ul:nth-of-type(3) li {
    display: flex;
    margin: 5px;
}

.list ul li img {
    margin-right: 10px;
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
    }

    footer {
        height: 110%;
    }

    ul li a {
        font-size: 16px;
    }

}